@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GothamSSM";
  src: url("/fonts/gothamssm.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "GothamSSM-Light";
  src: url("/fonts/gothamssm-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "GothamSSM-Big";
  src: url("/fonts/gothamssm-book.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "GothamSSM-Large";
  src: url("/fonts/Gothamssm-medium.woff2") format("woff2");
  font-display: swap;
}


@keyframes fly-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
